@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// colors
$primary: #d2302c;
$secondary: #ec5e5a;
$black: #000;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.circles {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: grid;
  flex-direction: column;
  overflow: hidden;
  z-index: -10;

  .top {
    position: relative;

    .inner {
      position: relative;
      height: 25rem;
      width: 40rem;
      border: 3px solid $primary;
      border-radius: 50%;
      top: -200px;
      left: -32px;
    }

    &::before {
      content: "";
      position: absolute;
      height: 25rem;
      width: 40rem;
      background: $secondary;
      border-radius: 50%;
      top: -190px;
      left: -150px;
      rotate: -20deg;
    }

    &::after {
      content: "";
      position: absolute;
      height: 20rem;
      width: 40rem;
      background: $primary;
      border-radius: 50%;
      top: -150px;
      left: -20px;
      rotate: -5deg;
    }
  }

  .bottom {
    position: relative;
    rotate: 180deg;

    .inner {
      position: relative;
      height: 25rem;
      width: 40rem;
      border: 3px solid $primary;
      border-radius: 50%;
      top: -200px;
      left: -32px;
    }

    &::before {
      content: "";
      position: absolute;
      height: 25rem;
      width: 40rem;
      background: $secondary;
      border-radius: 50%;
      top: -190px;
      left: -150px;
      rotate: -20deg;
    }

    &::after {
      content: "";
      position: absolute;
      height: 20rem;
      width: 40rem;
      background: $primary;
      border-radius: 50%;
      top: -150px;
      left: -20px;
      rotate: -5deg;
    }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 10rem;
      pointer-events: none;
    }

    span {
      color: $primary;
      position: absolute;
      bottom: -2px;
      font-weight: 500;
    }
  }
}
