@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// colors
$primary: #d2302c;
$secondary: #ec5e5a;
$black: #000;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circles {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: grid;
  flex-direction: column;
  overflow: hidden;
  z-index: -10;
  left: 0;
  top: 0;

  .top {
    position: relative;
    animation: move-left 0.8s;

    .inner {
      position: relative;
      height: 25rem;
      width: 40rem;
      border: 3px solid $primary;
      border-radius: 50%;
      top: -200px;
      left: -32px;
    }

    &::before {
      content: "";
      position: absolute;
      height: 25rem;
      width: 40rem;
      background: $secondary;
      border-radius: 50%;
      top: -190px;
      left: -150px;
      rotate: -20deg;
    }

    &::after {
      content: "";
      position: absolute;
      height: 20rem;
      width: 40rem;
      background: $primary;
      border-radius: 50%;
      top: -150px;
      left: -20px;
      rotate: -5deg;
    }
  }

  .bottom {
    position: relative;
    rotate: 180deg;
    animation: move-right 0.8s;

    .inner {
      position: relative;
      height: 25rem;
      width: 40rem;
      border: 3px solid $primary;
      border-radius: 50%;
      top: -200px;
      left: -32px;
    }

    &::before {
      content: "";
      position: absolute;
      height: 25rem;
      width: 40rem;
      background: $secondary;
      border-radius: 50%;
      top: -190px;
      left: -150px;
      rotate: -20deg;
    }

    &::after {
      content: "";
      position: absolute;
      height: 20rem;
      width: 40rem;
      background: $primary;
      border-radius: 50%;
      top: -150px;
      left: -20px;
      rotate: -5deg;
    }
  }
}

.images {
  z-index: -9;

  .img {
    width: 15rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 15rem;
      border-radius: 20px;
      border: 5px solid $primary;
    }

    &::before {
      content: "";
      position: absolute;
      height: 100vh;
      border: 1px solid $primary;
      top: -100vh;
      z-index: -1;
    }

    &:nth-child(1) {
      left: 10vw;
      top: 30vh;
      animation: move-down 1s ease alternate infinite;
    }

    &:nth-child(2) {
      left: 20vw;
      bottom: 15vh;
      animation: move-up 1s ease alternate infinite;
    }

    &:nth-child(3) {
      right: 20vw;
      bottom: 15vh;
      animation: move-up 1s ease alternate infinite;
    }

    &:nth-child(4) {
      right: 10vw;
      top: 25vh;
      animation: move-down 1s ease alternate infinite;
    }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  top: 1rem;

  .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fade-in 0.5s ease;

    img {
      width: 10rem;
      pointer-events: none;
    }

    span {
      color: $primary;
      position: absolute;
      bottom: -2px;
      font-weight: 500;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  animation: fade-in 0.5s ease;

  h1 {
    font-size: 3.3rem;
    color: $primary;
  }

  p {
    font-size: 1.2rem;
    width: 40rem;
    text-align: center;

    span {
      color: $primary;
      font-weight: 600;
    }
  }
}

footer {
  position: fixed;
  bottom: 2rem;
  left: 0;
  width: 100vw;
  padding: 0 2rem;
  animation: fade-in 1s ease;

  span {
    color: $primary;
    font-weight: 700;
  }
}

@keyframes move-down {
  from {
    margin-top: -20px;
  }
  to {
    margin-top: 0;
  }
}

@keyframes move-left {
  from {
    margin-left: -50px;
  }
  to {
    margin-left: 0;
  }
}

@keyframes move-right {
  from {
    margin-right: -40px;
  }
  to {
    margin-right: 0;
  }
}

@keyframes move-up {
  from {
    margin-bottom: -20px;
  }
  to {
    margin-top: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
